
@model Dev.EasyPonto.ViewModels.FuncionarioViewModel


@{
    ViewBag.Title = "Editar Funcionario";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })

            <div>
                @Html.EditorFor(model => model.Nome, new { htmlAtributtes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { htmlAtributtes = new { @class = "text-danger" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })

            <div>
                @Html.EditorFor(model => model.Documento, new { htmlAtributtes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Documento, "", new { htmlAtributtes = new { @class = "text-danger" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoFuncionario, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-3">
                @Html.RadioButtonFor(m => m.TipoFuncionario, "1") CLT <br />
                @Html.RadioButtonFor(m => m.TipoFuncionario, "2") PJ
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })

            <div>
                @Html.CheckBoxFor(model => model.Ativo, new { htmlAtributtes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-info" href="@Url.Action("Index", "Funcionarios")">Voltar</a>

            </div>

        </div>
    </div>
}

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div id="EnderecoTarget">
    @Html.Partial("_DetalhesEndereco")
</div>

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")

<script>
  $(document).ready(function () {
     SetModal();
  });
</script>

}

