@model Dev.EasyPonto.ViewModels.PontoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PontoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPonto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
